{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>

    <!-- ADMIN LAYOUT (SIDEBAR) CSS -->
    <link rel="stylesheet" href="{% static 'css/admin_header.css' %}">

    <!-- PAGE CSS -->
    <link rel="stylesheet" href="{% static 'css/add_product.css' %}">
</head>

<body>
{% include 'admin/header.html' %}
 {% if messages %}
        {% for m in messages %}
            <script>
                alert("{{ m }}");
            </script>
        {% endfor %}
     {% endif %}



<!-- Main (YOUR CODE – UNCHANGED) -->
<div class="main">

    <div class="topbar">
    <h3>Update Product</h3>
    <span class="badge">Administrator</span>
</div>

    <div class="main-content">
        <div class="form-wrapper">

            <div class="form-card">
                <h2>Update Product</h2>
                <p class="subtitle">Fill in the details below</p>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label>Product Image *</label>
                    <div class="upload-box">
                        <input type="file" name="image" accept="image/*" >
                        <div class="upload-content" id="uploadContent">
                            <span>Choose product image</span>
                        </div>
                    </div>
                    <img src="{{ product.5 }}" height="50" width="50">


                    <label>Product Name *</label>
                    <input type="text" name="name" value="{{product.1}}" required>

                    <label>Description *</label>
                    <textarea name="description" required>{{product.3}}</textarea>


                    <label>Price (₹) *</label>
                    <input type="number" name="price" value="{{product.4}}" required>

                    <div class="buttons">
                        <button type="reset" class="btn cancel">Cancel</button>
                        <button type="submit" class="btn save">Update Product</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>
